personal_assistant_bot/pycache
personal_assistant_bot/classes/pycache
personal_assistant_bot/personal_assistant_bot/classes/__pycache__
personal_assistant_bot/personal_assistant_bot/__pycache__
personal_assistant_bot/__pycache__
bot/
